@()(implicit request: RequestHeader, flash: Flash)

@main("Dragon Horde Clicker"){
	<div id="login">
		<h2>Dragon Horde</h2>
		<p>Dragon Horde is a networked clicker game where you're a dragon, and you're hoarding things.</p>
		<p>Grow your hoard, upgrade your piles, and steal from the horde of other players!</p>
		<h3>Login</h3>

		<form method="post" action="@routes.Application.validateUser">
		<p>
				<label for="user">Username:</label><br> 
				<input type="text" name="username"></input><br>
				<label for="pass">Password:</label><br>
				<input type="password" name="password"></input><br>
				<input type="submit" value="Enter the Horde!"></input>
		</p>
		</form>

		<p>Don't have a hoard yet? <a href="" id="create-link">Sign up here!</a></p>

	</div>

	<div id="createUser">
		<h2>Dragon Horde</h2>
		<p>Dragon Horde is a networked clicker game where you're a dragon, and you're hoarding things.</p>
		<p>Grow your hoard, upgrade your piles, and steal from the horde of other players!</p>
		<h3>Create User</h3>

		<form method="post" action="@routes.Application.createUser">
		<p>
				<label for="user">Username:</label><br> 
				<input type="text" name="username"></input><br>
				<label for="pass">Password:</label><br>
				<input type="password" name="password"></input><br>
				<input type="submit" value="Create Your Horde!"></input>
		</p>
		</form>

		<p>Already have a hoard? <a href="" id="login-link">Log in here!</a></p>

	</div>

	<div id="dragonHorde">
		<div id="wrapperLeft" class="wrapper">
				<div id="user">
						<p> 
								<img src="@routes.Assets.versioned("images/demoIcon.jpg")" alt="mlewis icon"><br>
								mlewis<br>
								<span id="logout"><a href="@routes.Application.dragonHordeLoginDemo">Logout</a></span>
						</p>
				</div>

				<div id="hordelist">
						<h3>Hordes</h3>
						<ul>
								<li>Trash<br><span id="number">Level 23<br>1020304 items<br>20000 G</span></li>
								<li>Cheap Trinkets<br><span id="number">Level 18<br>102030 items<br>24300 G</span></li>
								<li>Junk Food<br><span id="number">Level 16<br>10203 items<br>32000 G</span></li>
								<li>Reasonable Housewares<br><span id="number">Level 10<br>1021 items<br>45000 G</span></li>
								<li>Fairly Healthy Food<br><span id="number">Level 3<br>102 items<br>65000 G</span></li>
								<li>Textbooks<br><span id="number">Level 1<br>1 item<br>80000 G</span></li>
						</ul>
				</div>
		</div>

		<div id="wrapperMid" class="wrapper">
				<div id="hoard">
						<h3>The Hoard</h3>
						<p>
								<img src="@routes.Assets.versioned("images/dragonhoardupload.jpg")" alt="dragon horde image">
								<br>
								<button id="collect">Hoard!</button>
								<br>
								<span id="total">Total G: 12345</span>
						</p>
				</div>

				<div id="upgrades">
						<h3>Available Upgrades</h3>
						<ul>
								<li>Sort the Recycling: Upgrade Trash Hoard to hold more trash<br><span id="number">8000 G</span></li>
								<li>Boardwalk Mogel: Buy out a beach boardwalk to increase Cheap Trinket Hoard<br><span id="number">70000 G</span></li>
								<li>2am Walmart Run: Upgrade Junk Food Hoard to hold more junk food<br><span id="number">900000 G</span></li>
						</ul>
				</div>
		</div>

		<div id="wrapperRight" class="wrapper">
				<div id="stealingmenu">
						<h3>Stealing!</h3>
						<ul>
								<li>ghoyle<br><span id="number">Cheap Trinkets<br>Steal!</span></li>
								<li>shardzog<br><span id="number">Golden Kittens<br>You can't steal this...</span></li>
								<li>qmorris<br><span id="number">Silver Kittens<br>You can't steal this...</span></li>
								<li>ckendrick<br><span id="number">Textbooks<br>Steal!</span></li>
						</ul>
				</div>
		</div>
</div>

<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
<input type="hidden" id="createRoute" value="@routes.Application.createUser">
<input type="hidden" id="validateRoute" value="@routes.Application.validateUser">
<input type="hidden" id="logoutRoute" value="@routes.Application.logout">

<input type="hidden" id="loadHordeRoute" value="@routes.Application.loadHoardInfo">
<input type="hidden" id="addToHordeRoute" value="">
<input type="hidden" id="addNewHordeRoute" value="">
<input type="hidden" id="addGoldRoute" value="">

<input type="hidden" id="upgradeHordeRoute" value="">
<input type="hidden" id="upgradeUniversalRoute" value="">

<input type="hidden" id="goldRoute" value="">

<input type="hidden" id="userInfoRoute" value="@routes.Application.getUserInfo">
<input type="hidden" id="getAllHordesRoute" value="@routes.Application.getAllHoardsInfo">
<input type="hidden" id="getHordeInfoRoute" value="@routes.Application.getHoardInfo">
<input type="hidden" id="getStealingInfoRoute" value="@routes.Application.getStealingInfo">
<input type="hidden" id="getGoldRoute" value="">

<input type="hidden" id="loadStealRoute" value="@routes.Application.loadStealingInfo">
<input type="hidden" id="resetRoute" value="@routes.Application.resetUser">

}