@()(implicit request: RequestHeader, flash: Flash)

@DHCmain("Dragon Horde Clicker"){
	<input type="hidden" id="dragonHorde" value="">
	<div id="login">
		<h2>Dragon Horde</h2>
		<p>Dragon Horde is a networked clicker game where you're a dragon, and you're hoarding things.</p>
		<p>Grow your hoard, upgrade your piles, and steal from the horde of other players!</p>
		<h3>Login</h3>

		<p>
				Username:<br>
				<input type="text" id="loginName"></input><br>
				Password:<br>
				<input type="password" id="loginPass"></input><span id="login-message"></span><br>
				<button onclick="login()">Enter the Horde!</button>
		</p>

		<p>Don't have a hoard yet? <a onclick="showCreate()">Sign up here!</a></p> <!-- TODO - make this work -->

	</div>

	<div id="createUser">
		<h2>Dragon Horde</h2>
		<p>Dragon Horde is a networked clicker game where you're a dragon, and you're hoarding things.</p>
		<p>Grow your hoard, upgrade your piles, and steal from the horde of other players!</p>
		<h3>Create User</h3>

		<p>
				Username:<br> 
				<input type="text" id="createName"></input><br>
				Password:<br>
				<input type="password" id="createPass"></input><span id="create-message"></span><br>
				<button onclick="createUser()">Create Your Horde!</button>
		</p>

		<p>Already have a hoard? <a onclick="showLogin()">Log in here!</a></p> <!-- TODO - make this work -->

	</div>

	<div id="dragonHordeContainer">
		<div id="wrapperLeft" class="wrapper">
				<div id="user-data">
						<p> 
								<img src="@routes.Assets.versioned("images/DHCdefaulticon.jpg")" alt="user icon"><br> <!-- TODO - default photo -->
								<span id="username"></span><br>
								<button onclick="logout()">Logout</button>
						</p>
				</div>

				<div id="hordes">
						<h3>Hordes</h3>
						<ul id="horde-section">
						</ul>
				</div>
		</div>

		<div id="wrapperMid" class="wrapper">
				<div id="hoard">
						<h3>The Hoard</h3>
						<p>
								<span id="hint">Hint: Click a hoard in the hoard menu to see hoard options.</span>
								<br>
								<img src="@routes.Assets.versioned("images/dragonhoardupload.jpg")" alt="dragon horde image"> <!-- TODO - make this change with hoard -->
								<br>
								<button id="hoardButton" onclick="addToHorde()" hidden="true">Hoard!</button>
								<button id="convertButton" onclick="addGold()" hidden="true">Convert Hoard to Gold</button>
								<br>
								Total Gold: <span id="gold"></span>
						</p>
				</div>

				<div id="upgrades">
						<h3>Available Upgrades</h3>
						<ul id="upgrade-menu">
						</ul>
						<!--
						<ul>
								<li>Sort the Recycling: Upgrade Trash Hoard to hold more trash<br><span id="number">8000 G</span></li>
								<li>Boardwalk Mogel: Buy out a beach boardwalk to increase Cheap Trinket Hoard<br><span id="number">70000 G</span></li>
								<li>2am Walmart Run: Upgrade Junk Food Hoard to hold more junk food<br><span id="number">900000 G</span></li>
						</ul>
						-->
				</div>
		</div>

		<div id="wrapperRight" class="wrapper">
				<div id="stealingmenu">
						<h3>Stealing!</h3>
						<ul id="stealing-section">
						</ul>
				</div>
		</div>
</div>


<input type="hidden" id="hoardID" value="">
<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
<input type="hidden" id="createRoute" value="@routes.Application.createUser()">
<input type="hidden" id="validateRoute" value="@routes.Application.validateUser()">
<input type="hidden" id="logoutRoute" value="@routes.Application.logout()">

<input type="hidden" id="loadHordeRoute" value="@routes.Application.loadHoardInfo()">
<input type="hidden" id="addToHordeRoute" value="TODOaddToHorde">
<input type="hidden" id="addNewHordeRoute" value="TODOaddNewHordeRoute">
<input type="hidden" id="addGoldRoute" value="@routes.Application.addGold()">

<input type="hidden" id="upgradeHordeRoute" value="TODOupgradeHordeRoute">
<input type="hidden" id="upgradeUniversalRoute" value="TODOupgradeUniversalRoute">
<input type="hidden" id="levelUpHordeRoute" value="TODOlevelUpHordeRoute">

<input type="hidden" id="getAllHordesRoute" value="@routes.Application.getAllHoardsInfo()">
<input type="hidden" id="getHordeInfoRoute" value="@routes.Application.getHoardInfo()">
<input type="hidden" id="getStealingInfoRoute" value="@routes.Application.getStealingInfo()">
<input type="hidden" id="getGoldRoute" value="@routes.Application.getGold()">
<input type="hidden" id="getHordeUpgradesRoute" value="@routes.Application.getHoardUpgradesInfo()">
<input type="hidden" id="getUserInfoRoute" value="@routes.Application.getUserInfo()">

<input type="hidden" id="stealFromUserRoute" value="@routes.Application.stealFromUser()">
<input type="hidden" id="resetRoute" value="@routes.Application.resetUser()">

}